<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/authentication.css' />
  <title>{{title}}</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">

</head><!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/authentication.css' />
  <title>{{title}}</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">

</head>

<body>


<form method="post">
    <div class="form-group has-success authentication-page">

        <label for="example-text-input text-success" class="col-12 col-form-label ">
            <h3 class="text-danger ml-4 text-center">Welcome to My-sakan Website</h3>
            <h4 class="text-danger ml-4 text-center">Login</h4>
        </label>

          <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2 text-center">User Name:</h4>
          </label>

        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control " type="text" name="username"  >
        </div>

         <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2 text-center">Password:</h4>
        </label>

        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="password" name="password"  >
        </div>

<a href="/auth/facebook">Login with Facebook</a>

 

        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 mt-3 ">
          <input class="btn btn-success btn-lg" type="submit" value="Login">
          <a href="/create-account"><input class="btn btn-success btn-lg" type="button" value="Register"></a>
        </div>

    </div>
  
</form>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>

</body>

</html>

<body>
 