    <h2 class="text-center text-danger">Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="edit/to-rent"><li>To Rent</li></a>
        <a href="edit/for-sale"><li>For Sale</li></a>
        <a href="edit/all"><li>All Flats</li></a>
        <a href="edit/id"><li>Flat ID</li></a>
    </ul>
</div>